body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #1f2937;
    margin: 0;
}

.navheader {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

.navheader ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navheader a:link {
    font-size: 18px;
    color: #E5E7EB;
}

.navheader a:hover {
    color: hotpink;
  }

.navheader h1 {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}